<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zt.yavon">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

         <activity android:name=".module.guide.GuideActivity"
             android:theme="@style/WithLoadingBG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.account.view.SelectAccountActivity" />
        <activity android:name=".module.device.lock.view.LockSettingActivity" />
        <activity android:name=".module.device.lock.view.LockUseActivity" />
        <activity android:name=".module.device.lock.view.LockRecordActivity" />
        <activity android:name=".module.device.lock.view.LockDetailActivity" />
        <activity android:name=".module.device.lamp.view.LampDetailActivity" />
        <activity android:name=".module.device.lamp.view.LampUseActivity" />
        <activity android:name=".module.device.lamp.view.LampSettingActivity" />
        <activity android:name=".module.device.lamp.view.LampRecordActivity" />
        <activity android:name=".module.device.desk.view.DeskDetailActivity" />
        <activity android:name=".module.device.desk.view.DeskSettingActivity" />
        <activity android:name=".module.device.desk.view.DeskUseActivity" />
        <activity android:name=".module.device.desk.view.DeskRecordActivity" />
        <activity android:name=".module.mine.view.PersonalInfoActivity" />
        <activity android:name=".module.mine.view.BindEmailActivity" />
        <activity android:name=".module.mine.view.ModityEmailActivity" />
        <activity android:name=".module.mine.view.ModityPhoneActivity" />
        <activity android:name=".module.mine.view.SettingActivity" />
        <activity android:name=".module.mine.view.AboutActivity" />
        <activity android:name=".module.message.view.MessageCenterActivity" />
        <activity android:name=".module.message.view.MessageListActivity" />
        <activity android:name=".module.mine.view.AllDevActivity" />
        <activity android:name=".widget.calendar.DateSelectActivity" />
        <activity android:name=".module.device.share.view.EditDevActivity" />
        <activity android:name=".module.device.share.view.ShareDevActivity" />
        <activity android:name=".module.device.share.view.ApplyDevActivity" />
        <activity android:name=".module.device.share.view.AuthorActivity" />
        <activity android:name=".module.device.desk.view.ElectricityStatisticsActivity" />
        <activity android:name=".module.device.share.view.ShareSettingActivity" />
        <!--<activity-->
            <!--android:name="com.yalantis.ucrop.UCropActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme"/>-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".module.main.frame.view.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".module.account.view.LoginRegisterActivity" />
        <activity android:name=".module.account.view.ResetPasswordActivity" />
        <activity android:name=".module.deviceconnect.view.ScanCodeActivity" />
        <activity android:name=".module.deviceconnect.view.BluetoothActivity" />
        <activity android:name=".module.deviceconnect.view.DeviceTypeActivity" />
        <activity android:name=".module.deviceconnect.view.DeviceAddActivity"></activity>
        <activity android:name=".module.deviceconnect.view.WifiDeviceActivity"></activity>
        <activity android:name=".module.main.roommanager.list.view.RoomActivity" />
        <activity android:name=".module.main.adddevice.view.ActAddDevice" />
        <activity android:name=".module.main.roommanager.add.view.ActAddRoom" />
        <activity android:name=".module.main.roommanager.detail.ActRoomDetail" />
    </application>

</manifest>